* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;
  background-color: #e0e0e0;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}

h6 {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

p,
label {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}

a {
  font-weight: 500;
  font-size: 16px;
  color: #2f80ed;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #c4c4c4;
  border-radius: 12px;
  border: none;
  height: 8px;
}

progress::-webkit-progress-value {
  background: #2f80ed;
  border-radius: 12px;
}

.container {
  width: 90%;
  padding: 0rem 3rem;
  margin: 0 auto;
}

.container2 {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}

.btn {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background-color: #2f80ed;
  padding: 5px 25px;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #2f80ed;
  background-color: transparent;
  border: 1px solid #2f80ed;
}

.btn-hover {
  font-weight: 500;
  font-size: 18px;
  color: #2f80ed;
  background-color: #fff;
  border: 1px solid #2f80ed;
  padding: 5px 25px;
  transition: all 0.3s ease;
}
.btn-hover:hover {
  color: #fff;
  background-color: #2f80ed;
}

.fa-solid {
  padding-right: 10px;
}

.col {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}

.grid {
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.grid .span-col-2 {
  grid-column: span 2/auto;
}
.grid .span-col-2 h3 {
  color: #4f4f4f;
}
.grid .span-col-2 .blog-card .info {
  width: 50%;
  justify-content: space-between;
}
.grid .span-col-2 .blog-card .info span {
  font-weight: 500;
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 20px;
}
.grid .span-col-2 .blog-card .info h2 {
  color: #333;
}
.grid .span-col-2 .blog-card .info p {
  width: 60%;
}
.grid .span-col-2 .blog-card .info a {
  text-decoration: none;
}
.grid .span-col-2 .blog-card .image {
  width: 50%;
}
.grid .span-col-2 .blog-card .image img {
  border-radius: 12px;
}
.grid .front-end {
  height: 100%;
}
.grid .front-end h4 {
  padding-bottom: 20px;
}
.grid .front-end .label {
  padding-bottom: 1rem;
  align-items: center;
}
.grid .design {
  width: 80%;
  height: 50%;
}
.grid .design h4 {
  padding-bottom: 20px;
}
.grid .design .label {
  padding-bottom: 1rem;
  align-items: center;
}
.grid .span-row-3 {
  grid-row: span 3/auto;
}
.grid .span-row-3 .col {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}
.grid .span-row-3 .col img {
  max-width: 100%;
  height: 358px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 10px;
}
.grid .span-row-3 .col .title {
  max-width: 90%;
}
.grid .span-row-3 .col .contact-info {
  padding: 1.5rem 0rem;
  max-width: 90%;
}
.grid .span-row-3 .col .contact-info a {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  color: #4f4f4f;
  text-decoration: none;
  padding-bottom: 10px;
}
.grid .span-row-3 .col .description {
  max-width: 100%;
}
.grid .span-row-3 .hobbies h2 {
  padding-bottom: 20px;
}
.grid .span-row-3 .hobbies img {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
.grid .span-row-3 .hobbies h5 {
  font-size: 18px;
  padding-bottom: 10px;
}
.grid .span-row-3 .hobbies p {
  margin-bottom: 2rem;
}
.grid .span-row-2 {
  grid-row: span 2/auto;
}
.grid .span-row-2 .adidas h2 {
  padding-bottom: 20px;
}
.grid .span-row-2 .adidas .row {
  align-items: center;
}
.grid .span-row-2 .adidas .row img {
  width: 84px;
  max-height: 84px;
  border-radius: none;
}
.grid .span-row-2 .adidas .row .column h6 {
  padding-bottom: 10px;
}
.grid .span-row-2 .adidas .row .column p {
  margin-top: 1rem;
}

footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p,
footer a {
  color: #828282;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 480px) {
  footer p,
footer a {
    font-size: 0.8rem;
  }
}
@media (max-width: 390px) {
  footer p,
footer a {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=style.css.map */