* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;
  background-color: #e0e0e0;
}
h1 {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
}
h2 {
  font-weight: 500;
  font-size: 24px;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
h4 {
  font-weight: 700;
  font-size: 18px;
}

h6 {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}
p {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
a {
  font-weight: 500;
  font-size: 16px;
  color: #2f80ed;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}
.container {
  max-width: 1200px;
  width: 90%;
  padding: 0rem 3rem;
  //   margin: 0 auto;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.btn {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background-color: #2f80ed;
  padding: 5px 25px;
  transition: all 0.3s ease;
  &:hover {
    color: #2f80ed;
    background-color: transparent;
    border: 1px solid #2f80ed;
  }
}
.btn-hover {
  font-weight: 500;
  font-size: 18px;
  color: #2f80ed;
  background-color: #fff;
  border: 1px solid #2f80ed;
  padding: 5px 25px;
  transition: all 0.3s ease;
  &:hover {
    color: #fff;
    background-color: #2f80ed;
  }
}
.fa-solid {
  padding-right: 10px;
}

// BILLY's CARD
.billy-card {
  padding-top: 3em;
  .container {
    .column {
      width: 33%;
      background-color: #fff;
      border-radius: 12px;
      padding: 1.5rem;
      img {
        width: 367px;
        height: 358px;
        object-fit: cover;
        padding-bottom: 10px;
      }
      .contact-info {
        padding: 1.5rem 0rem;
        a {
          display: inline-block;
          font-weight: 500;
          font-size: 18px;
          padding-bottom: 10px;
          color: #4f4f4f;
          text-decoration: none;
          padding-bottom: 10px;
        }
      }
    }
  }
}
