* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #4f4f4f;
  background-color: #e0e0e0;
}
h1 {
  font-weight: 600;
  font-size: 24px;
  padding-bottom: 10px;
}
h2 {
  font-weight: 500;
  font-size: 24px;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  color: #828282;
}
h4 {
  font-weight: 700;
  font-size: 18px;
}
h5 {
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
h6 {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}
p,
label {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
a {
  font-weight: 500;
  font-size: 16px;
  color: #2f80ed;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
progress[value]::-webkit-progress-bar {
  background-color: #c4c4c4;
  border-radius: 12px;
  border: none;
  height: 8px;
}
progress::-webkit-progress-value {
  background: #2f80ed;
  border-radius: 12px;
}
.container {
  width: 90%;
  padding: 0rem 3rem;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}
.btn {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background-color: #2f80ed;
  border: none;
  border-radius: 12px;
  padding: 9px 35px;
  transition: all 0.3s ease;
  &:hover {
    color: #2f80ed;
    background-color: transparent;
    border: 1px solid #2f80ed;
  }
}
.btn-hover {
  font-weight: 500;
  font-size: 18px;
  color: #2f80ed;
  background-color: #fff;
  border: 1px solid #2f80ed;
  border-radius: 12px;
  padding: 9px 35px;
  transition: all 0.3s ease;
  &:hover {
    color: #fff;
    background-color: #2f80ed;
  }
}
.fa-solid {
  padding-right: 10px;
}
.col {
  background-color: #fff;
  border-radius: 12px;
  padding: 1.5rem;
}

.grid {
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  .span-col-2 {
    grid-column: span 2 / auto;
    h3 {
      color: #4f4f4f;
    }
    .blog-card {
      .info {
        width: 50%;
        justify-content: space-between;
        span {
          font-weight: 500;
          font-size: 16px;
          color: #e0e0e0;
          margin-bottom: 20px;
        }
        h2 {
          color: #333;
        }
        p {
          width: 60%;
        }
        a {
          text-decoration: none;
        }
      }
      .image {
        width: 50%;
        img {
          border-radius: 12px;
        }
      }
    }
    .recipe {
      .row {
        justify-content: flex-start;
        .image {
          img {
            width: 322px;
            border-radius: 12px;
          }
        }
        .info {
          width: 50%;
          justify-content: space-between;
          h2 {
            color: #333;
            margin-bottom: 20px;
          }
          span {
            font-weight: 500;
            font-size: 16px;
            color: #4f4f4f;
            margin-bottom: 20px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            color: #828282;
            margin-bottom: 20px;
          }
        }
        button {
          margin-top: 1.5rem;
          margin-right: 20px;
        }
      }
    }
  }
  .front-end {
    height: 100%;
    h4 {
      padding-bottom: 20px;
    }
    .label {
      padding-bottom: 1rem;
      align-items: center;
    }
  }
  .design {
    width: 80%;
    height: 50%;
    h4 {
      padding-bottom: 20px;
    }
    .label {
      padding-bottom: 1rem;
      align-items: center;
    }
  }

  // BILLY's CARD
  .span-row-3 {
    grid-row: span 3 / auto;
    .col {
      background-color: #fff;
      border-radius: 12px;
      padding: 1.5rem;
      img {
        max-width: 100%;
        // height: 358px;
        height: 560px;
        // height: 70%;
        border-radius: 12px;
        object-fit: cover;
        padding-bottom: 10px;
      }
      .title {
        max-width: 90%;
      }
      .contact-info {
        padding: 1.5rem 0rem;
        max-width: 90%;
        a {
          display: inline-block;
          font-weight: 500;
          font-size: 18px;
          padding-bottom: 10px;
          color: #4f4f4f;
          text-decoration: none;
          padding-bottom: 10px;
        }
      }
      .description {
        max-width: 100%;
      }
    }
    // HOBBIES
    .hobbies {
      h2 {
        padding-bottom: 20px;
      }
      img {
        object-fit: cover;
        height: auto;
      }
      h5 {
        font-size: 18px;
        padding-bottom: 10px;
      }
      p {
        margin-bottom: 2rem;
      }
    }
  }

  // EXPERIENCES CARD
  .span-row-2 {
    grid-row: span 2 / auto;
    .experiences {
      height: 100%;
      justify-content: space-around;

      .row {
        align-items: center;
        img {
          width: 84px;
          max-height: 84px;
          border-radius: none;
        }
        .column {
          h6 {
            padding-bottom: 10px;
          }
          p {
            margin-top: 1rem;
          }
        }
      }
    }
  }
}

// FOOTER
footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p,
  a {
    color: #828282;
    font-weight: 700;
    font-size: 14px;
    @media (max-width: 480px) {
      font-size: 0.8rem;
    }
    @media (max-width: 390px) {
      font-size: 0.6rem;
    }
  }
}
